<h1>Really Delete this Announcement??</h1>
<table>
<tr>
  <td>Title:</td>
  <td><%= @announcement.title %></td>
</tr>
<tr>
  <td>Submitted By:</td>
  <td><%= @announcement.submitted_by %></td>
</tr>
<tr>
  <td>Body:</td>
  <td><%= @announcement.body %></td>
</tr>
<tr>
  <td>Expires/:</td>
  <td><%= @announcement.expires %></td>
</tr>
<tr>
  <td>Expiration:</td>
  <td><%= @announcement.expiration %></td>
</tr>
<tr>
  <td>Created:</td> 
  <td><%= @announcement.created %></td>
</tr>
<tr>
  <td>Record Last Modified:</td>
  <td> <%= @announcement.modified %></td>
</tr>
</table>

<form action="/announcements/confirmdelete/<%= @announcement.id %>" method="get" role="form">
  <input type="hidden" name="announcement[id]" value="<%= @announcement.id %>" />
  <input type="submit" value="Delete Announcement"/>
</form>
