<h1>Announcements</h1>
<% if @adminuser == true %><a href="/announcements/new">Add New Announcement</a><% end %>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <% if @adminuser %><th>Actions</th><% end %> 
    </tr>
  </thead>
  <tbody>
    <% @announcements.each do |a| %>
    <tr>
      <td width="80%"><a href="/announcements/details/<%= a.id %>"><%= a.title %></a></td>
      <td><%= a.created %></td>
      <% if @adminuser %><td><a href="/announcements/edit/<%= a.id %>">Edit</a> | <a href="/announcements/delete/<%= a.id %>">Delete</a></td><% end %> 
    </tr>
  <% end %>
    </tbody>
</table>
<% if @adminuser == true %><a href="/announcements/new">Add New Announcement</a><% end %>
