<% if @announcement.id.nil?
     mode = 'new'
  else
     mode = 'edit'
  end
%>  

<% if mode == 'new' %>
<h1>New Announcement</h1>
<form action="/announcements" method="post" role="form">
<% elsif mode == 'edit' %>
<h1>Edit Announcement</h1>
<form action="/announcements/edit/<%= @announcement.id %>" method="post" role="form">
<% end %>

  <%= csrf_tag %>
  <fieldset>
    <label for="announcement_title">Title</label>
    <input  id="announcement_title" name="announcement[title]" value="<%= @announcement.title %>" required="required" type="text"/>

    <label for="announcement_submitted_by">Author</label>
    <input  id="announcement_submitted_by" name="announcement[submitted_by]" value="<%= @announcement.submitted_by %>" type="text" size="30"/>

    <label for="announcement_body">Body</label>
    <textarea  id="announcement_body" name="announcement[body]" rows="10" cols="30" /><%= @announcement.body %></textarea>
 
    <label for="announcement_expires">Expires?</label>
    <input  id="announcement_expires" name="announcement[expires]" value="true" type="checkbox"/>

    <label for="announcement_expiration">Expiration</label>
    <input  id="announcement_expiration" name="announcement[expiration]" value="<%= @announcement.expiration %>" type="date"/>

    <label for="announcement_priority" id="fPriority">Priority</label>
    <input  id="announcement_priority" name="announcement[priority]" value="<% @announcement.priority  %>" type="range" min="0" max="10" oninput="document.getElementById('fPriority').innerHTML = 'Priority ('+this.value+')'" />
    <br />
    <% if mode == 'new' %>
    <input type="submit" value="Create Announcement"/>
    <% elsif mode == 'edit' %>
    <input type="submit" value="Save Changes"/>
    <% end %>
    </fieldset>
</form>
<a href="/announcements">List of Announcements</a>


