<h1>Announcement</h1>
<hr size="100%" />
<h2><%= @announcement.title %></h2>
<table>
<% if @adminuser == true %>
<tr>
  <td>Priority:</td> 
  <td><%= @announcement.priority %></td>
</tr>
<tr>
  <td>Author:</td>
  <td> <%= @announcement.submitted_by %></td>
</tr>
<tr>
  <td>Expires?:</td>
  <td> <%= @announcement.expires %></td>
</tr>
<tr>
  <td>Expire Date:</td>
  <td> <%= @announcement.expiration %></td>
</tr>
<tr>
  <td>Created Date:</td>
  <td><%= @announcement.created %></td>
</tr>
<tr>
  <td>Modified Date:</td>
  <td><%= @announcement.created %></td>
</tr>
<% end %>
<tr>
  <td colspan="2"><%= @announcement.body %></td>
</tr>
</table>
<a href="/announcements">List of Announcements</a><% if @adminuser == true %> | <a href="/announcements/edit/<%= @announcement.id %>">Edit</a> | <a href="/announcements/delete/<%= @announcement.id %>">Delete</a><% end %>
