<h1>About IonApp Framework</h1>
<p>This is a database application framework written in JRuby.</p>
<h3>Software Stack</h3>
IonApp is written by Chris Tusa of RetroAxis.info using the following software components:
<table>
  <thead>
    <th>Item</th>
    <th>Description</th>
  </thead>
  <tbody>
    <tr>
      <td><a href="https://www.ionfalls.org">IonFalls</a></td>
      <td>IonFalls is a BBS software written by Chris Tusa in JRuby. Some of the framework and libraries were imported into this program as IonApp to accelerate development.</td>
    </tr>  
    <tr>
      <td><a href="http://roda.jeremyevans.net/">Roda</a></td>
      <td>Roda was selected as the underlying application toolkit for its simplicity, compatibility, and performance.</td>
    </tr>  
    <tr>
      <td><a href="http://sequel.jeremyevans.net/">Sequel</a></td>
      <td>Sequel is the ORM that I have used for over a decade.  It is flexible, and provides the modeling, migraitons, and many other features.</td>
    </tr>  
    <tr>
      <td><a href="http://h2database.com/">H2 Database</a></td>
      <td>H2 is a JDBC embeddable database.</td>
    </tr>  
    <tr>
      <td><a href="https://puma.io/">Puma</a></td>
      <td>Puma is the underlying webserver serving the application.</td>
    </tr>  
    <tr>
      <td><a href="https://www.jruby.org/">JRuby</a></td>
      <td>IonApp relies on JRuby. Several Java libraries are used to provide enhanced capability (H2 as an example).</td>
    </tr>
    <tr>
      <td><a href="https://openjdk.java.net/">OpenJDK</a></td>
      <td>Preferred Java runtime.</td>
    </tr>
    <tr>
      <td><a href="https://milligram.io/">Milligram</a></td>
      <td>CSS Framework.</td>
    </tr>
    
  </tbody>
</table>
