<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="IonFalls Project">
    <meta name="description" content="IonApp Framework default application">
    <title><%= $cfg["app"]["name"] %> :: </title>
    <link rel="icon" href="/images/icon.png">
    <link rel="stylesheet" href="/css/font/roboto.css">
    <link rel="stylesheet" href="/css/font/gotham.css">
    <link rel="stylesheet" href="/css/milligram/normalize.css">
    <link rel="stylesheet" href="/css/milligram/milligram.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <main class="wrapper">
        <nav class="navigation">
            <section class="container">
              <img src="/images/logo.png" class="navigation-title"/>
                <a class="navigation-title" href="/">&nbsp;
                  <!-- <h1 class="title">IonApp</h1> -->
                </a>
              <ul class="navigation-list float-right">
                    <li class="navigation-item">
                        <a class="navigation-link" href="#popover-retroaxis" data-popover>IonApp</a>
                        <div class="popover" id="popover-retroaxis">
                            <ul class="popover-list">
                              <li class="popover-item">
                              <a class="popover-link" target="_blank" href="https://www.ionfalls.org" title="Main Website">Main Website</a>
                              </li>
                              <li class="popover-item">
                              <a class="popover-link" target="_blank" href="https://bugs.ionfalls.org" title="Content Server">Report Bugs</a>
                              </li>
                              <li class="popover-item">
                              <a class="popover-link" target="_blank" href="https://www.youtube.com/channel/UCNgdmEaoXbG7EeP0KCujjFA" title="YouTube Channel">YouTube Channel</a>
                              </li>                              
                            </ul>
                        </div>
                    </li>
                    <% if @validuser == true %>
                    <li class="navigation-item">
                        <a class="navigation-link" href="#popover-ionadmin" data-popover>IonAdmin</a>
                        <div class="popover" id="popover-ionadmin">
                            <ul class="popover-list">
                              <li class="popover-item">
                              <a class="popover-link" href="/announcements" title="Announcements">Announcements</a>
                              </li>
                              <li class="popover-item">
                              <a class="popover-link"  href="/ionusers" title="Users">Users</a>
                              </li>
                              <li class="popover-item">
                              <a class="popover-link" href="/ionlogout" title="Logout">Logout</a>
                              </li>                              
                            </ul>
                        </div>
                    </li>
                    <% end %>
                </ul>
            </section>
        </nav>
        <script src="/js/sorttable-min.js"></script>
        <section class="container" id="yield">
          <% unless flash.empty? %>
            <% if flash[:notice]  %><div class="flash" id="flash-notice"><span id="flash-notice"><%= flash[:notice]  %></span></div><% end %>
            <% if flash[:warning] %><div class="flash" id="flash-warning"><span id="flash-warning"><%= flash[:warning] %></span></div><% end %>
            <% if flash[:error]   %><div class="flash" id="flash-error"><span id="flash-error"><%= flash[:error]   %></span></div><% end %>
            <% if flash[:alert]   %><div class="flash" id="flash-alert"><span id="flash-alert"><%= flash[:alert]   %></span></div><% end %>
            <% if flash[:success] %><div class="flash" id="flash-success"><span id="flash-success"><%= flash[:success] %></span></div><% end %>
          <% end %>
          <%= yield %> 
        </section>

        <hr size="100%" />
        <footer class="footer">
            <section class="container">
                <div class="footer">(C)opyright 2019 - Leafscale, LLC || <a href="/about">About this App</a></div>
                
            </section>
        </footer>

    </main>

    <script src="/js/main.js"></script>

</body>

</html>
