<form action="/ionlogin" method="post" role="form">
  <%= csrf_tag %>
  <h2>Authorized User Login</h2>

  <div class="form-group">
    <label for="user_login" class="sr-only">Username</label>
    <input type="text" name="login" id="user_login" placeholder="Username" class="form-control input-lg" required autofocus>
  </div>

  <div class="form-group">
    <label for="user_password" class="sr-only">Password</label>
    <input type="password" name="password" id="user_password" placeholder="Password" class="form-control input-lg" required>
  </div>

  <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
</form>
