<p>IonApp is running. To change this page, modify views/startpage.erb </p>

<h3>Announcements</h3>
  <% @announcements.each do |a| %>
  <table>
  <thead>
    <th><%= a.created %>  ::  <%= a.title %></th>
  </thead>
  <tbody>
    <tr><td><%= a.body %></td></tr>
  </tbody>
  </table>
  <% end %>
<a href="/announcements">more announcements</a>
