<h1>Users</h1>
<p><a href="/users/new">Create New User</a></p>


<table class="sortable">
  <thead>
    <tr>
      <th>Username</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>IsAdmin?</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><a href="/users/username/<%= user.login %>"><%= user.login %></a></td>
      <td><%= user.firstname %></td>
      <td><%= user.lastname %></td>
      <td><%= user.is_admin %></td>
    </tr>
  <% end %>
    </tbody>
</table>
