<h1>New User</h1>

<form action="/users" method="post" role="form">
  <%= csrf_tag %>
  <div class="form-group">
    <label class="control-label" for="user_login">Name</label>
    <input class="form-control" id="user_login" name="user[login]" value="<%= @user.login %>" required="required" type="text"/>
  </div>
  <div class="form-group">
    <label class="control-label" for="user_email">Email</label>
    <input class="form-control" id="user_email" name="user[email]" value="<%= @user.email %>" required="required" type="email"/>
  </div>
  <div class="form-group">
    <label class="control-label" for="user_password">Password</label>
    <input class="form-control" id="user_password" name="user[password]" required="required" type="password"/>
  </div>
  <div class="form-group">
    <label class="control-label label-before" for="user_password_confirmation">Password confirmation</label>
    <input class="form-control" id="user_password_confirmation" name="user[password_confirmation]" required="required" type="password"/>
  </div>
  <div class="form-group">
    <input class="btn btn-success" type="submit" value="Create User"/>
  </div>
</form>
