<h1>User Profile</h1>
<table>
<tr>
  <td>Login:</td>
  <td><%= @user.login %></td>
</tr>
<tr>
  <td>First Name:</td> 
  <td><%= @user.firstname %></td>
</tr>
<tr>
  <td>Last Name:</td>
  <td><%= @user.lastname %></td>
</tr>
<tr>
  <td>City:</td>
  <td><%= @user.city %></td>
</tr>  
<tr>
  <td>State:</td>
  <td> <%= @user.state %></td>
</tr>
<tr>
  <td>Country:</td>
  <td> <%= @user.country %></td>
</tr>
<tr>
  <td>Email:</td>
  <td> <%= @user.email %></td>
</tr>
<tr>
  <td>Is Admin?:</td>
  <td> <%= @user.is_admin %></td>
</tr>
</table>
